<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Post:</b>
  <%= @comment.post.title %>
</p>

<p>
  <b>Replies:</b>
  <% @comment.replies.each do |reply| %>
    #<%= reply.id %> - <%= reply.body %></br>
  <% end %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
